/TradeOnionArc/.vs
/TradeOnionArc/TradeOnionArc/obj
/TradeOnionArc/TradeOnionArc.Application/obj
/TradeOnionArc/TradeOnionArc.Domain/obj
/TradeOnionArc/TradeOnionArc.Infrastructure/obj
/TradeOnionArc/TradeOnionArc.Persistence/obj
/TradeOnionArc/TradeOnionArc.Infrastructure/bin
/TradeOnionArc/TradeOnionArc.Domain/bin
/TradeOnionArc/TradeOnionArc.Application/bin
/TradeOnionArc/TradeOnionArc/bin
/TradeOnionArc/TradeOnionArc.Persistence/bin
/AuthServer/.vs
/AuthServer/AuthServer.API/obj
/AuthServer/AuthServer.API/bin
/PlantHere/.vs
/PlantHere/PlantHere/obj
/PlantHere/PlantHere/bin
/PlantHere/PlantHere.Application/obj
/PlantHere/PlantHere.Application/bin
/PlantHere/PlantHere.Domain/obj
/PlantHere/PlantHere.Domain/bin
/PlantHere/PlantHere.Infrastructure/obj
/PlantHere/PlantHere.Infrastructure/bin
/PlantHere/PlantHere.Persistence/obj
/PlantHere/PlantHere.Persistence/bin
/PlantHereNodeJs/Core/PlantHere.Aplication/node_modules
/PlantHereNodeJs/Presentation/PlantHere.WebAPI/node_modules
/PlantHereNodeJs/Core/PlantHere.Domain/node_modules
/PlantHereNodeJs/Infratructure/PlantHere.Persistance/node_modules
/AuthServer/AuthServer.Application/bin
/AuthServer/AuthServer.Application/obj
/AuthServer/AuthServer.Domain/bin
/AuthServer/AuthServer.Domain/obj
/AuthServer/AuthServer.Infrastructure/bin
/AuthServer/AuthServer.Infrastructure/obj
/AuthServer/AuthServer.Persistence/obj
/AuthServer/AuthServer.Persistence/bin
/PlantHere/PlantHere.Test/bin
/PlantHere/PlantHere.Test/obj
